/* See license.txt for terms of usage */

/*************************************************************************************************/

/* Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/

/* Style applied on the panel node.
   Rule syntax: .panelNode-<ext-id> */
.panelNode-nitratools .system-value {
	font-style: italic;
}

.panelNode-nitratools .section-list {
	background-color: white;
	list-style: none;
	margin: 0;
	padding: 0;
}

.panelNode-nitratools section {
	padding: 2px 0 2px 20px;
    vertical-align: top;
    border-bottom: 1px solid #EFEFEF;  
    white-space: nowrap;
    background-image: url(chrome://firebug/skin/mac/twistyClosed.png);
    background-repeat: no-repeat;
    background-position: 2px 3px;
}

.panelNode-nitratools section:hover, .panelNode-nitratools section tr:hover {
    background-color: #EFEFEF;
}

.panelNode-nitratools section.open {
    background-image: url(chrome://firebug/skin/mac/twistyOpen.png);
}

.panelNode-nitratools section.open:hover {
    background-color: inherit;
}

.panelNode-nitratools section h1 {
    font-weight: bold;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.panelNode-nitratools section details {
	display: none;
}

.panelNode-nitratools section.open details {
	display: block;
}

.panelNode-nitratools section table {
    width: 1000px;
}

.panelNode-nitratools section td {
	vertical-align: top;
}

.panelNode-nitratools section .map-key {
	font-weight: bold;
	width: 300px;
}

.panelNode-nitratools section .map-value {
	width: 700px;
}

/*************************************************************************************************/

/* Firebug Tracing Console customization. All messages from this example use this color.
   This helps to distinguish logs from those coming from Firebug
   Rule syntax: .DBG_<ext-id>
   See: http://getfirebug.com/wiki/index.php/FBTrace for more details */
.DBG_NITRATOOLS {
    color: rgb(101, 0, 114);
}
